*{
    box-sizing: border-box;
}
body{
    background:linear-gradient(45deg,blueviolet,black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Helvetica,sanse-serif;
}
form{
    border-radius:2px;
    width:70%;
    min-width:380px;
    max-width:800px;
    margin: 10vh auto;
    padding:20px 25px;
    background-color:rgb(82, 81, 82);
}
fieldset{
    margin:0;
    border-radius: 3px;
    padding:30px;
}
label:not(.fieldset1 *){
    display: inline-block;
    margin-top:15px;
    width:50%;
}
fieldset:first-of-type input{
    width: 100%;
    border-radius: 2px;
}
button{
    width: 100%;
    margin-top:15px;
    height:33px;
    background-color: rgb(141, 7, 7);
    border:1px solid rgb(135, 9, 9);
    border-radius:3px;
}
input:not([type="file"]){
    height:28px;
    border: 1px solid rgb(195, 192, 192);
    background-color: rgb(213, 203, 200);
}
input{
    display:inline-block;
    vertical-align:middle;
}
button:hover{
    background-color: rgb(171, 12, 12);
    border:1px solid rgb(170, 28, 28);
}
fieldset:nth-of-type(3) .title{
    font-size:larger;
    width:100%;
}
h1{
    display:block;
    margin: 0 auto 10px auto;
}
input[type="range"]{
    width:90%;
}
.degree{
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    padding-left:15%;
    max-width: 650px;
}
nav{
    background-color:rgb(205, 116, 44);
    display:flex;
    padding:10px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    justify-content: space-around;
}
nav *{
    color:white;
    text-decoration: none;
}